*.cs2
*.sr2
*.o
*~
can-bounce-test
can-monitor
can-replay
can2eth
can2udp
can4lnx2udp
can2serial
clone-cs2-config
clone-cs2-trigger
clone-ms2-loco
read-cs2-ini
gb2-update
ir-tester
cs2ping
bpi-rs485
scan2lan
can2lan
ms2wifi
ms2-loco-list
virtual_canbuster
virtual_gfp
virtual_links88
virtual_ms2
get-cs-data
get-cs-config
pio-i2c-udp
read_lococard
s88udp-bpi
s88udp-rpi
s88test-bpi
wake-up-c6020
wake-up-links88
virtual_s88udp
gpio-poll
lan-schnitte
xntcpd
s88can
spitest
ms2-update

