body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-left: 22em;
  background: #fdfdfd;
  color: #333;
}

header {
  background: #003366;
  color: white;
  padding: 0.5em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 1em;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 1em 2em;
}

footer {
  background: #eee;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
}

#TOC {
    position: fixed;
    width: 20em;
    left: 0;
    top: 0;
    height: 100%;
    background-color: LightGray;
    overflow-y: scroll;
    padding: 1em;
}

